# homeassistant.components.frontend
home-assistant-frontend==20180726.0

# homeassistant.components.tts
mutagen==1.40.0

# homeassistant.components.discovery
netdisco==1.5.0

# homeassistant.components.cloud
warrant==0.6.1

# homeassistant.components.folder_watcher
watchdog==0.8.3

# homeassistant.components.sensor.openweathermap
# homeassistant.components.weather.openweathermap
pyowm==2.9.0

# homeassistant.components.sun

# homeassistant.components.senson.moon

# homeassistant.components.sensor.yweather
# homeassistant.components.weather.yweather
yahooweather==0.10
xmltodict==0.11.0

# homeassistant.components.duckdns

# homeassistant.components.logger

# homeassistant.components.no_ip

# homeassistant.components.wake_on_lan
# homeassistant.components.switch.wake_on_lan
wakeonlan==1.0.0

# homeassistant.components.sensor.google_travel_time
googlemaps==2.5.1

# homeassistant.components.tts.picotts

# homeassistant.components.tts.google
gTTS-token==1.1.1

# homeassistant.components.sensor.cert_expiry

# homeassistant.components.sensor.cpuspeed
py-cpuinfo==4.0.0

# homeassistant.components.sensor.iperf3
iperf3==0.1.10

# homeassistant.components.sensor.pi_hole
hole==0.3.0

# homeassistant.components.device_tracker.snmp
# homeassistant.components.sensor.snmp
# homeassistant.components.switch.snmp
pysnmp==4.4.4

# homeassistant.components.sensor.speedtest
speedtest-cli==2.0.2

# homeassistant.components.sensor.systemmonitor
psutil==5.4.6

# homeassistant.components.android_ip_webcam
pydroid-ipcam==0.8

# homeassistant.components.mqtt.server
hbmqtt==0.9.2

# homeassistant.components.mqtt
paho-mqtt==1.3.1

# homeassistant.components.switch.mysensors

# homeassistant.components.rpi_gpio
RPi.GPIO==0.6.1

# homeassistant.components.switch.rpi_rf
rpi-rf==0.9.6

# homeassistant.components.switch.rest

# homeassistant.components.switch.template

# homeassistant.components.sensor.arest

# homeassistant.components.sensor.broadlink
# homeassistant.components.switch.broadlink
#broadlink==0.9.0

# homeassistant.components.sensor.dnsip
aiodns==1.1.1

# homeassistant.components.dweet
# homeassistant.components.sensor.dweet
dweepy==0.3.0

# homeassistant.components.feedreader
# homeassistant.components.sensor.geo_rss_events
feedparser==5.2.1
haversine==0.4.5

# homeassistant.components.sensor.postnl
postnl_api==1.0.2

# homeassistant.components.sensor.season
ephem==3.7.6.0

# homeassistant.components.light.sensehat
# homeassistant.components.sensor.sensehat
sense-hat==2.2.0

# homeassistant.components.sensor.serial
pyserial-asyncio==0.4

# homeassistant.components.recorder
# homeassistant.scripts.db_migrator
# homeassistant.components.sensor.sql
sqlalchemy==1.2.9

# homeassistant.components.sensor.whois
pythonwhois==2.4.3

# homeassistant.components.zwave
pydispatcher==2.0.5
python_openzwave==0.4.3

# homeassistant.components.device_tracker.bluetooth_tracker
bt_proximity==0.1.2
pybluez==0.22

# homeassistant.components.device_tracker.google_maps
#locationsharinglib==2.0.7

# homeassistant.components.device_tracker.nmap_tracker
python-nmap==0.6.1

# homeassistant.components.notify.xmpp
dnspython3==1.15.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
sleekxmpp==1.3.2

# homeassistant.components.notify.mailgun
pymailgunner==1.4

# homeassistant.components.notify.html5
pywebpush==1.6.0
PyJWT==1.6.0

# homeassistant.components.notify.pushbullet
pushbullet.py==0.11.0

# homeassistant.components.telegram_bot
python-telegram-bot==10.1.0

# homeassistant.components.twilio
twilio==5.7.0

# homeassistant.components.notify.twitter
TwitterAPI==2.5.4

# homeassistant.components.media_player.mpd
python-mpd2==1.0.0

# homeassistant.components.media_player.vlc
python-vlc==1.1.2

# homeassistant.components.media_player.spotify
spotipy-homeassistant==2.4.4.dev1

# homeassistant.components.media_player.gpmdp
websocket-client==0.37.0

# homeassistant.components.media_player.gstreamer
gstreamer-player==1.1.0

# homeassistant.components.media_player.kodi
# homeassistant.components.notify.kodi
jsonrpc-async==0.6
jsonrpc-websocket==0.6

# homeassistant.components.media_player.plex
# homeassistant.components.sensor.plex
plexapi==3.0.6

# homeassistant.components.media_player.clementine
python-clementine-remote==1.0.1

# homeassistant.components.light.rpi_gpio_pwm
pwmled==1.2.1

# homeassistant.components.image_processing.dlib_face_detect
# homeassistant.components.image_processing.dlib_face_identify
#face_recognition==1.0.0

# homeassistant.components.image_processing.opencv
numpy==1.14.5

# homeassistant.components.ffmpeg
ha-ffmpeg==1.9

# homeassistant.components.prometheus
prometheus_client==0.2.0

# homeassistant.components.sensor.waqi
waqiasync==1.0.0

# homeassistant.components.sensor.dsmr
dsmr_parser==0.11

# homeassistant.components.sensor.transmission
# homeassistant.components.switch.transmission
transmissionrpc==0.11

# homeassistant.components.climate.honeywell
evohomeclient==0.2.5
somecomfort==0.5.2

# homeassistant.components.camera.yi
aioftp==0.10.1

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.google
# homeassistant.components.remember_the_milk
httplib2==0.10.3

# homeassistant.components.ifttt
pyfttt==0.3

# homeassistant.components.python_script
restrictedpython==4.0b4
